@model ResterauntWeb.ViewModels.RestaurantVm

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<button id="search"> Search</button>
    <div id="searchResults">
    </div>
    <input type="text" class="form-control" id="Keyword" name="name" value="" placeholder="Search" />*@


@using (Html.BeginForm("Index", "Restaurants", FormMethod.Get))
{
    //the following are search options

<b>
    Search Options:
    <label for="Name"> Name</label>
</b>@Html.RadioButton("option", "Name", htmlAttributes: new { @id = "Name" })

    <label for="City"> City</label>
  @Html.RadioButton("option", "city", htmlAttributes: new { @id = "City"})

     @Html.TextBox("search")
    <input type="submit"
           name="submit"
           value="Search" />
}
<table class="table">


    @*@Html.DropDownListFor(m => m.SelectedMethod, Model.SortMethods, new { @id = "dropdown" })*@

    <tr>
        <th> Name</th>
        <th> City</th>
        <th> Average Rating</th>
    </tr>

    @foreach (var rest in Model.restaurants)
    {
        <tr style="border:2px solid black">
            <td>
                @rest.Name
            </td>
            <td> @rest.City</td>
            <td>@rest.AvgRating</td>

            <td>
                @foreach (var rev in rest.reviews)
                {
                    @rev.Comments
                }

            </td>
            <td>@Html.ActionLink("Details", "Details", new { id = rest.Id })</td>
            <td>@Html.ActionLink("Add Review", "AddR", "Reviews", new { id = rest.Id }, null)</td>
            <td>@Html.ActionLink("Edit Resteraunt", "AddR", "Reviews", new { id = rest.Id }, null)</td>
            <td>@Html.ActionLink("Delete Restaurant", "Delete", "Restaurants", new { id = rest.Id }, null)</td>
        </tr>
    }

</table>

<br />
<br />
 <td>@Html.ActionLink("Add Restaurant", "AddRestaurant")</td>
<h1> Top 3 Rated Restaurants</h1>
<table class="table">
    <thead>

        <tr> Name</tr>
        <tr> Average Rating</tr>
    </thead>
    @foreach (var item in Model.Featuredrestaurants)
    {

      
        <td>
            @item.Name
        </td>
        <td>@item.AvgRating</td>

    }


    </table>
    @section Scripts{


        <script>

var url = '@Url.Action("DisplaySearchResults", "Restaurants")';
     $('#search').click(function () {
    //$("#Keyword").keydown(function ()    {
         var SearchString = $('#Keyword').val();

         $('#searchResults').load(url, { input: SearchString   })
        })


 $(document).ready(function () {
            $("#searh").click(function () {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetSortMethod", "Restaurants")',
                    data:{ mv: $('#dropdown').val(), input : $('#Keyword').val() },
                    sucess: {

                    }
        });
        })
})

        </script>

    }
