@model ResterauntWeb.ViewModels.RestaurantVm

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<button id="search"> Search</button>
<div id="searchResults">
</div>
<input type="text" class="form-control" id="Keyword" name="name" value="" placeholder="Search" />*@


@using (Html.BeginForm("Index", "Restaurants", FormMethod.Get) )
{
    //the following are search options

    <b>Search Option: <p>Name</p> </b>@Html.RadioButton("option", "Name")
    <p>City</p> @Html.RadioButton("option", "city")

    <p>Subject</p> @Html.TextBox("search")
    <input type="submit"
           name="submit"
           value="Search" />
}
<table class="table">


    @*@Html.DropDownListFor(m => m.SelectedMethod, Model.SortMethods, new { @id = "dropdown" })*@

    <tr>
        <th> Name</th>
        <th> Average Rating</th>
    </tr>

    @foreach (var rest in Model.restaurants)
    {
        <tr style="border:2px solid black">
            <td>
                @rest.Name
            </td>
            <td>@rest.AvgRating</td>

            <td>
                @foreach (var rev in rest.reviews)
                {
                    @rev.Comments
                }

            </td>
            <td>@Html.ActionLink("Details", "Details", new { id = rest.Id })</td>
            <td>@Html.ActionLink("Add Review", "AddR", "Reviews", new { id = rest.Id }, null)</td>
            <td>@Html.ActionLink("Edit Resteraunt", "AddR", "Reviews", new { id = rest.Id }, null)</td>
            <td>@Html.ActionLink("Delete Restaurant", "Delete", "Restaurants", new { id = rest.Id }, null)</td>
        </tr>
    }

</table>

<br />
<br />

<h1> Most  popular Restaurants</h1>



@section Scripts{


    <script>

var url = '@Url.Action("DisplaySearchResults", "Restaurants")';
     $('#search').click(function () {
    //$("#Keyword").keydown(function ()    {
         var SearchString = $('#Keyword').val();

         $('#searchResults').load(url, { input: SearchString   })
        })


 $(document).ready(function () {
            $("#searh").click(function () {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetSortMethod", "Restaurants")',
                    data:{ mv: $('#dropdown').val(), input : $('#Keyword').val() },
                    sucess: {

                    }
        });
        })
})

    </script>

}