@model ResterauntWeb.ViewModels.RestaurantVm

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<button id="search"> Search</button>
<div id="searchResults">

</div>
<input type="text" class="form-control" id="Keyword" name="name" value="" placeholder="Search" />
<table class="table">

    <tr>
        <th> Name</th>
    </tr>

    @foreach (var rest in Model.restaurants)
    {
        <tr style="border:2px solid black">
            <td>@rest.Name</td>
            <td>@rest.AvgRating</td>

            @foreach (var rev in rest.reviews)
            {
                @rev.Comments
            }
            <td>@Html.ActionLink("Details", "Details", new { id = rest.Id })</td>
            <td>@Html.ActionLink("Add Review", "AddR", "Reviews", new { id = rest.Id }, null)</td>
            <td>@Html.ActionLink("Edit Resteraunt", "AddR", "Reviews", new { id = rest.Id }, null)</td>
        </tr>
    }

</table>


@Html.DropDownListFor(x => x.SelectedMethod, Model.SortMethods, new { id = "dropdown" })

<br />
<br />



@section Scripts{


    <script>

var url = '@Url.Action("DisplaySearchResults", "Restaurants")';
     $('#search').click(function () {
    //$("#Keyword").keydown(function ()    {
  var SearchString = $('#Keyword').val();
  $('#searchResults').load(url, { searchText: SearchString });
        })
        $(document).ready(function () {
            $("#dropdown").change(function () {
                $.ajax({
                    type: 'Get',
                    url: '@Url.Action("GetSortMethod", "Restaurants")',
                    data:{ MV: $('#dropdown').val() },
                    sucess: {

                    }
        });
        })
})

    </script>

}