@model RestaurantData.Models.Reviews
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <br />
    <br />
    <br />
    @using (Html.BeginForm("AddRev", "Reviews", FormMethod.Post))
    {


        @Html.LabelFor(m => m.Rating);
        @Html.TextBoxFor(m => m.Rating);



        @Html.LabelFor(m => m.Comments);
        @Html.TextBoxFor(m => m.Comments);


        <button class="btn btn-default" type="submit" value="Submit">submit </button>


    }


    </body>
</html>




